body {
  font-family: 'Black Ops One', cursive;
}

p {
  color: red;
}

video {
  display: block;
  margin: 0 auto;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}

html {
  background-color: #f3bfbf;
}

body {
  width: 800px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

button {
  width: 100px;
  padding: 20px;
}

.container{
  display: flex;
}
