body {
  font-family: 'Black Ops One', cursive;
}

.deus {
  color: #fa0032;
}

video {
  display: block;
  margin: 0 auto;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}

html {
  background-color: #f3bfbf;
}

body {
  width: 1500px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

button {
  width: 100px;
  padding: 20px;
}

.container {
  display: flex;
}

.audio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt {
  text-align: center;

}

.titulo {
  text-align: center;
  color: #black;
}

.tituloincio {
  text-align: center;
}

.pave {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.youtupeplayer {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pesquisa {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.incredientes {
  color: #000000;
}
.sobre{
  color: black;
}
.nave{
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.zap{
  justify-content: center;
  align-items: center;
  text-align: center;

}
.iniciobutton{
  align-items: center;
  background-clip: padding-box;
  background-color: #3c1cd9;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
.sobrebutton{
  align-items: center;
  background-clip: padding-box;
  background-color: #3c1cd9;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
.contatosbutton{
 align-items: center;
  background-clip: padding-box;
  background-color: #3c1cd9;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: auto;
  vertical-align: baseline;
  width: auto;
}
.links{
  display: flex;
}

